.cart-widget, .cart-widget-NaN {
    position: relative;
    li{
        list-style: none;
    }
    &:hover{
        color: black;
    }
    .toBuy{
        display: none;
        font-size: 0.7em;
        background-image: linear-gradient(90deg, #283c86 0%, #45a247 100%);
        border: 1px solid black;
        box-shadow: 10px 5px 5px grey;
        z-index: 1;
        color: white;
        height: 20rem;
        overflow-y: auto;        
        overflow-x: hidden        
    }

    .final{
        position: relative;
        margin-bottom: 3rem;
    }

    .final-precio{
        position: absolute;
        top: 0;
        font-size: 1.3em;
        text-decoration: 5px underline black;
    }
}

.cart-widget:hover .toBuy{
    display: block;
    position: absolute;
    text-align: start;
    right: 1rem;
    width: 100%;
    
}