.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-image: linear-gradient(90deg, #283c86 0%, #45a247 100%);
    color: white;
    a {
        color: white;
        text-decoration: none;
        font-size: 22px;
    }
    a:hover{
        color: black;
    }
}